.heroBackground {
    background-image: url('/public/media/Khalsa fauj.jpeg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }
  